Repository mkdocs/mkdocs, pull requests merged in 2018-09, with the labels that each got.

#1594 Update readthedocs theme with upstream
  .jshintignore
  docs/about/release-notes.md
  docs/user-guide/styling-your-docs.md
  mkdocs/tests/config/config_tests.py
  mkdocs/themes/readthedocs/base.html
  mkdocs/themes/readthedocs/breadcrumbs.html
  mkdocs/themes/readthedocs/css/theme.css
  mkdocs/themes/readthedocs/css/theme_extra.css
  mkdocs/themes/readthedocs/fonts/FontAwesome.otf
  mkdocs/themes/readthedocs/fonts/Lato/lato-bold.eot
  mkdocs/themes/readthedocs/fonts/Lato/lato-bold.ttf
  mkdocs/themes/readthedocs/fonts/Lato/lato-bold.woff
  mkdocs/themes/readthedocs/fonts/Lato/lato-bold.woff2
  mkdocs/themes/readthedocs/fonts/Lato/lato-bolditalic.eot
  mkdocs/themes/readthedocs/fonts/Lato/lato-bolditalic.ttf
  mkdocs/themes/readthedocs/fonts/Lato/lato-bolditalic.woff
  mkdocs/themes/readthedocs/fonts/Lato/lato-bolditalic.woff2
  mkdocs/themes/readthedocs/fonts/Lato/lato-italic.eot
  mkdocs/themes/readthedocs/fonts/Lato/lato-italic.ttf
  mkdocs/themes/readthedocs/fonts/Lato/lato-italic.woff
  mkdocs/themes/readthedocs/fonts/Lato/lato-italic.woff2
  mkdocs/themes/readthedocs/fonts/Lato/lato-regular.eot
  mkdocs/themes/readthedocs/fonts/Lato/lato-regular.ttf
  mkdocs/themes/readthedocs/fonts/Lato/lato-regular.woff
  mkdocs/themes/readthedocs/fonts/Lato/lato-regular.woff2
  mkdocs/themes/readthedocs/fonts/RobotoSlab/roboto-slab-v7-bold.eot
  mkdocs/themes/readthedocs/fonts/RobotoSlab/roboto-slab-v7-bold.ttf
  mkdocs/themes/readthedocs/fonts/RobotoSlab/roboto-slab-v7-bold.woff
  mkdocs/themes/readthedocs/fonts/RobotoSlab/roboto-slab-v7-bold.woff2
  mkdocs/themes/readthedocs/fonts/RobotoSlab/roboto-slab-v7-regular.eot
  mkdocs/themes/readthedocs/fonts/RobotoSlab/roboto-slab-v7-regular.ttf
  mkdocs/themes/readthedocs/fonts/RobotoSlab/roboto-slab-v7-regular.woff
  mkdocs/themes/readthedocs/fonts/RobotoSlab/roboto-slab-v7-regular.woff2
  mkdocs/themes/readthedocs/fonts/RobotoSlab/roboto-slab.eot
  mkdocs/themes/readthedocs/fonts/fontawesome-webfont.eot
  mkdocs/themes/readthedocs/fonts/fontawesome-webfont.svg
  mkdocs/themes/readthedocs/fonts/fontawesome-webfont.ttf
  mkdocs/themes/readthedocs/fonts/fontawesome-webfont.woff
  mkdocs/themes/readthedocs/fonts/fontawesome-webfont.woff2
  mkdocs/themes/readthedocs/footer.html
  mkdocs/themes/readthedocs/js/theme.js
  mkdocs/themes/readthedocs/mkdocs_theme.yml
  mkdocs/themes/readthedocs/nav.html
  mkdocs/themes/readthedocs/toc.html
  mkdocs/themes/readthedocs/versions.html
Labels: Theme-readthedocs

#1597 Update to bootswatch 4.1.3.
  .csslintrc
  .jshintignore
  docs/about/release-notes.md
  mkdocs/themes/mkdocs/base.html
  mkdocs/themes/mkdocs/css/base.css
  mkdocs/themes/mkdocs/css/bootstrap-custom.min.css
  mkdocs/themes/mkdocs/css/bootstrap.min.css
  mkdocs/themes/mkdocs/js/base.js
  mkdocs/themes/mkdocs/js/bootstrap-3.0.3.min.js
  mkdocs/themes/mkdocs/js/bootstrap.min.js
  mkdocs/themes/mkdocs/keyboard-modal.html
  mkdocs/themes/mkdocs/nav-sub.html
  mkdocs/themes/mkdocs/search-modal.html
  mkdocs/themes/mkdocs/toc.html
Labels: Theme-mkdocs

#1607 Use lunr.py for prebuilding indices
  docs/about/release-notes.md
  docs/user-guide/configuration.md
  mkdocs/commands/build.py
  mkdocs/config/config_options.py
  mkdocs/contrib/search/__init__.py
  mkdocs/contrib/search/search_index.py
  mkdocs/contrib/search/templates/search/lunr.js
  mkdocs/tests/config/config_options_tests.py
  mkdocs/tests/search_tests.py
  setup.py
Labels: Enhancement, Plugin
